body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  max-width: 1300px;
}


@media screen and (max-width: 499px) {
  .app{
    display: block;
  }
  
}
