.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;

  /*Hide scrollbar for IE, Edge and Firefox*/
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

/*Hide chrome, Safari and opera mini*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed_Header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  /* border: 1px solid var(--twitter-background); */
}

.feed_Header > h2 {
  font-size: 20px;
  font-weight: 800;
}
