.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;

  /*Hide scrollbar for IE, Edge and Firefox*/
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

/*Hide chrome, Safari and opera mini*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed_Header {
  top: 0;
  background-color: white;
  z-index: 100;
  /* border-bottom: 1px solid var(--twitter-background); */
  padding: 10px;
}

.feed_Header > h2 {
  font-size: 20px;
  font-weight: 800;
}

/*Phone*/

@media screen and (max-width: 499px) {
  .feed {
    flex: 1;
  }
}

/*Tablets*/

@media screen and (max-width: 1265px) {
  .feed {
    flex: 0.8;
  }
}
