.sidebar_TwitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar {
  flex: 0.2 1;
  border-right: 1px solid var(--twitter-background);
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar_TweetButton {
  background-color: var(--twitter-color) !important;
  color: white !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}


/*Phone*/

@media screen and (max-width: 499px) {
  .sidebar {
    display: none;
  }
}

/*Tablet,Laptop*/

@media screen and (max-width: 1265px) {
  .sidebar {
    flex: 0.1;
  }
}
